# Mongo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=examplepassword

# Docker image
DOCKER_REGISTRY=docker.io/youruser
DOCKER_IMAGE=ecotrack360

# App
DOTNET_ENVIRONMENT=Development
TAG=latest
