# Mongo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=examplepassword
MONGO_DB_NAME=EcoTrack360

# Docker image
DOCKER_REGISTRY=docker.io
DOCKER_IMAGE=youruser/ecotrack360

# App
DOTNET_ENVIRONMENT=Development
APP_SEED_ON_STARTUP=true
TAG=latest
